RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

ErrorDocument 404 /404.html

Header set Access-Control-Allow-Origin "*"

php_value session.gc_maxlifetime 7200

RewriteCond %{HTTP_HOST} ^vakantiehuisantibes\.com$
RewriteRule ^(.*)$ "https\:\/\/www\.vakantiehuisantibes\.com\/$1" [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index\.html
RewriteRule ^(.*)index.html$ /$1 [R=301,L] 

Header set Cache-Control "no-cache, no-store, must-revalidate"
<FilesMatch "\.(jpg|jpeg|gif|ico|png|svg|js|css|eot|ttf|woff|woff2)$">
Header unset Cache-Control
Header set Cache-Control "max-age=86100, public"
</FilesMatch>