@import './Colors.scss';

html.reserveren {
  .noDateSelected {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    padding: 140px 0 0 50px;
    font-size: 16px;
    animation-duration: 1.5s;
    color: $lightForeground;
    min-height: 400px;
    i {
      margin-right: 15px;
    }
  }
  .bookingCalendar {
    @media only screen and (min-width: 768px) {
      margin: 15px;
    }
  }
  .dateSelected {
    padding-top: 15px;
    @media only screen and (min-width: 768px) {
      padding: 15px;
    }
    .bookingForm {
      textarea {
        min-height: 250px;
      }
      .captcha,
      .btn {
        margin-bottom: 1rem;
      }
      .form-group {
        label {
          margin-bottom: 0.15rem;
        }
      }
      .spinner {
        margin-left: 10px;
      }
    }
  }
}
