@import './Colors.scss';

html.bookingpage {
  .noDateSelected {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    padding: 155px 0 0 50px;
    font-size: 16px;
    color: $lightForeground;
    min-height: 400px;
    div {
      animation-duration: 1.5s;
      display: inline-block;
      i {
        margin-right: 12px;
      }
    }
  }
  .bookingCalendar {
    @media only screen and (min-width: 768px) {
      margin: 15px;
    }
  }
  .dateSelected {
    padding-top: 15px;
    @media only screen and (min-width: 768px) {
      padding: 15px;
    }
    .bookingForm {
      textarea {
        min-height: 250px;
      }
      .captcha,
      .btn {
        margin-bottom: 1rem;
      }
      .form-group {
        label {
          margin-bottom: 0.15rem;
        }
      }
      .spinner {
        margin-left: 10px;
      }
    }
  }
}
