$primaryBackground: #54858c;
$primaryHoverBackground: darken($primaryBackground, 10%);
$secondaryBackground: #b55555;
$secondaryHoverBackground: darken($secondaryBackground, 10%);
$lightForeground: #333;
$lighterForeground: #888;
