.bookingFooter {
  background-color: #fff;
  .innerBookingFooter {
    border-radius: 90% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ecf2f2;
    .container {
      padding: 40px 15px 35px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0 15px 2px 0;
      }
      @media only screen and (max-width: 574px) {
        flex-direction: column;
        text-align: center;
        p {
          margin-bottom: 15px;
        }
      }
    }
  }
}
.navFooter {
  background-color: #454135;
  .container {
    padding: 15px;
    display: flex;
    .nav {
      &:first-child {
        flex-grow: 1;
      }
      .nav-link {
        color: #fff;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    @media only screen and (max-width: 574px) {
      flex-direction: column;
      .nav {
        flex-direction: column;
        align-items: center;
        &:last-child {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          margin-top: 10px;
          padding-top: 10px;
        }
      }
    }
  }
}
