@import './Colors.scss';

html.gallerypage {
  .galleryOverview {
    .container {
      padding: 0 0 20px 0;
    }
    .nav {
      display: flex;
      align-items: center;
      .nav-item {
        display: flex;
        align-items: center;
        a {
          color: #fff;
          &:hover {
            background-color: $primaryHoverBackground;
          }
        }
      }
    }
  }
  .galleryThumbs {
    .row {
      margin: 0;
    }
    .thumbCol {
      padding: 0;
      background-color: #222;
      a {
        display: block;
        height: 150px;
        background-size: cover;
        background-position: center center;
        animation-duration: 0.8s;
        background-color: #ddd;
        transition: opacity 0.15s ease-in-out;
        opacity: 1;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
        @media only screen and (max-width: 450px) {
          height: 110px;
        }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          height: 130px;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 1050 !important;
}
