@import './Colors.scss';

html.fotos {
  .galleryOverview {
    .nav {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .nav-item {
        display: flex;
        align-items: center;
      }
    }
  }
  .galleryThumbs {
    padding: 0 0 0 15px;
    .thumbCol {
      padding: 0 15px 15px 0;
      a {
        display: block;
        height: 150px;
        background-size: cover;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 1050 !important;
}
