@import './Colors.scss';

html.fotos {
  .galleryOverview {
    .nav {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      @media only screen and (min-width: 574px) {
        margin-bottom: 30px;
      }
      .nav-item {
        display: flex;
        align-items: center;
      }
    }
  }
  .galleryThumbs {
    margin-bottom: -15px;
    @media only screen and (min-width: 574px) {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: -30px;
    }
    .thumbCol {
      padding: 0;
      a {
        display: block;
        height: 150px;
        background-size: cover;
        background-position: center center;
        animation-duration: 0.8s;
        background-color: #ddd;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        @media only screen and (max-width: 450px) {
          height: 110px;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 1050 !important;
}
