.pageHeader {
  display: flex;
  align-items: center;
  > div {
    flex-grow: 1;
    color: #fff;
    text-align: center;
    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .markdown {
      animation-delay: 0.8s;
    }
  }
}
