@import './Colors.scss';

html.homepage {
  .pageHeader {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 250px;
    > div {
      flex-grow: 1;
      text-align: center;
      padding-top: 0;
      h1 {
        font-family: 'Caveat', cursive;
        font-size: 4.5rem;
        transform: rotate(-1deg);
        @media only screen and (max-width: 460px) and (min-width: 340px) {
          font-size: 3.5rem;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 340px) {
          font-size: 2.5rem;
          margin-bottom: 10px;
        }
      }
      .headerButtons {
        .btn {
          text-shadow: none;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .homeOverview {
    .highlights {
      background-color: #fff;
      padding-bottom: 35px;
      .highlight {
        text-align: center;

        @media only screen and (min-width: 768px) {
          margin-top: -30px;
        }
        @media only screen and (max-width: 768px) {
          &.highlight1 {
            margin-top: -30px;
          }
        }
        &.highlight1 .imageContainer {
          a {
            transform: rotate(-1.5deg);
          }
        }
        &.highlight2 .imageContainer {
          animation-delay: 0.2s;
          a {
            transform: rotate(1deg);
          }
        }
        &.highlight3 .imageContainer {
          animation-delay: 0.4s;
          a {
            transform: rotate(1.5deg);
          }
        }
        .imageContainer {
          padding: 0 20px;
          a {
            max-width: 260px;
            height: 160px;
            display: block;
            background-size: cover;
            background-position: center center;
            border: 10px solid #fff;
            margin: 0 auto 10px auto;

            @media only screen and (min-width: 768px) {
              margin-bottom: 25px;
            }
          }
        }
        h3 {
          font-size: 1.5rem;
          margin-bottom: 0.75rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
    .numbers {
      background-color: #cbddde;
      padding: 60px 0 60px 0;
      .row {
        @media only screen and (min-width: 992px) {
          margin: 0 100px;
        }
        > div {
          text-align: center;
          padding-bottom: 25px;
          strong {
            display: block;
            font-size: 1.8rem;
          }
          span {
            opacity: 0.7;
          }
        }
      }
    }
    .pictures {
      background-color: $primaryBackground;
      background-image: url('https://admin.vakantiehuisantibes.com/storage/uploads/2018/11/10/5be693dee75d9collage-blur.jpg');
      background-position: center center;
      background-size: cover;
      .container {
        padding: 0;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url('https://admin.vakantiehuisantibes.com/storage/uploads/2018/11/10/5be68f0f08634collage.jpg');
          background-position: center center;
          background-size: cover;
          height: 396px;
          @media only screen and (max-width: 450px) {
            height: 150px;
          }
          @media only screen and (min-width: 450px) and (max-width: 768px) {
            height: 190px;
          }
          @media only screen and (min-width: 768px) and (max-width: 992px) {
            height: 250px;
          }
          @media only screen and (min-width: 992px) and (max-width: 1194px) {
            height: 333px;
          }
        }
      }
    }
    .distances {
      background-color: #fff;
      padding: 60px 0 40px 0;
      @media only screen and (min-width: 992px) {
        .container {
          padding-left: 90px;
          padding-right: 90px;
        }
      }
      .pin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 60px;
          margin-bottom: 10px;
          animation-delay: 0.5s;
        }
        span {
          font-size: 1.2rem;
          display: inline-block;
          margin-bottom: 30px;
          text-align: center;
          animation-delay: 0.3s;
        }
      }
      .innerDistances {
        .row > div {
          text-align: center;
          padding-bottom: 25px;
          > div {
            strong {
              display: block;
              font-size: 1.5rem;
            }
            span {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
