html.surroundingspage {
  .surroundingsOverview {
    background-color: #fff;
    .highlight {
      &.even {
        .imageContainer {
          text-align: right;
        }
      }
      &.odd {
        background-color: #ecf2f2;
        text-align: right;
        .imageContainer {
          text-align: left;
          div {
            transform: rotate(2deg);
          }
        }
      }
      .textCol,
      .imageCol {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
      }
      .textContainer {
        margin: 40px 0;
        h3 span {
          font-size: 0.9rem;
          vertical-align: middle;
          display: inline-block;
          margin-left: 10px;
          color: #54858c;
        }
      }
      .imageContainer {
        div {
          margin: 35px 0 32px 0;
          width: 230px;
          height: 140px;
          display: inline-block;
          border: 8px solid #fff;
          background-size: cover;
          background-position: center center;
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
          transition: transform 0.3s;
          transform: rotate(-2deg);
          -webkit-backface-visibility: hidden;
        }
      }
    }
    .distances {
      padding: 40px 0;
      .distance {
        text-align: center;
        line-height: 1.7;
        a {
          color: #333;
        }
        span {
          font-size: 0.85rem;
          vertical-align: middle;
          display: inline-block;
          margin-left: 10px;
          color: #54858c;
        }
      }
    }
  }
}
