html.thehousepage {
  .theHouseOverview {
    .feature {
      &.even {
        background-color: #fff;
        .imageContainer {
          text-align: right;
        }
      }
      &.odd {
        background-color: #ecf2f2;
        text-align: right;
        .imageContainer {
          text-align: left;
          div {
            transform: rotate(2deg);
          }
        }
      }
      .textCol,
      .imageCol {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
      }
      .textContainer {
        margin: 40px 0;
      }
      .imageContainer {
        // padding: 10px 0;
        div {
          margin: 35px 0 32px 0;
          width: 230px;
          height: 140px;
          display: inline-block;
          border: 8px solid #fff;
          background-size: cover;
          background-position: center center;
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
          transition: transform 0.3s;
          transform: rotate(-2deg);
          -webkit-backface-visibility: hidden;
        }
      }
    }
    .details {
      background-color: #fff;
      .desc {
        margin-top: 30px;
        text-align: center;
      }
      .container {
        padding-top: 20px;
        padding-bottom: 40px;
        h4 {
          margin-top: 25px;
          margin-bottom: 15px;
        }
        ul {
          padding-left: 19px;
          li {
            line-height: 1.7;
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
